td{
  padding: 5px;
}

.pm0{
   padding: 0px;
   margin: 0px;
}

footer{
  margin-top:auto;
}

.page-footer{
  padding:0px;
}

body{
  display:flex;
  flex-direction:column;
  min-height: 100vh;
}

.btn-flat{
  color : lightgrey;
}

.btn-flat:hover{
  color : white;
  background-color: pink;
}
