{% extends 'base.html' %}

{% block content %}



<div class="row pm0">
  <div class="col s12">
    <form action="add_to/" method="post">
      {%csrf_token%}
      <div class="row pm0">
        <div class="input-field col m11 s10">
          <input id="list_item1" name = "item" type="text">
         <label for="list_item1">Type here</label>
        </div>
        <div class="input-field col s2 m1 right-align" style = "margin-top:10px">
          <button class="btn-floating green waves-effect waves-light right-align"><i class="material-icons">add</i></button>
        </div>
      </div>
    </form>
  </div>
</div>


<div>
  {% if Exist %}
    <table class="p0">
      {% for obj in objs %}
      <tr>
        <td><h6>{{obj.text | title}}</h6></td>
        <!--<td class="right-align"><p>{{obj.added_date.time}}</p></td>-->

        <td class="right-align">
          <form action="delete_item/{{obj.id}}" method="post">
            <button type="submit" class="btn waves-red waves-effect waves-light btn-flat">
            <i class="material-icons">delete</i>
            </button>
          </form>
        </td>
      <tr/>
      {% endfor %}
    </table>

  {% endif %}

</div>

{% endblock %}
