{% extends 'base.html' %}

{% block content %}



<div class="row pm0">
  <div class="col s12">
    <form action="/" method="post">
      {%csrf_token%}
      <div class="row pm0">
        <div class="input-field col s10 pm0">
          <input id="list_item1" name = "item" type="text">
         <label for="list_item1">Type here</label>
        </div>
        <div class="input-field col s1 pm0" style = "margin-top:2px">
          <button class="btn-floating gresen"><i class="material-icons">add</i></button>
        </div>
      </div>
    </form>
  </div>
</div>


<div>
  {% if Exist %}
    <table class="p0">
      {% for obj in objs %}
      <tr>
        <td><h6>{{obj.text | title}}</h6></td>
        <td class="right-align"><p>{{obj.added_date}}</p></td>
      <tr/>
      {% endfor %}
    </table>

  {% endif %}

</div>

{% endblock %}
